module.exports = {
    root: true,
    env: {
        node: true,
    },
    extends: [
        'plugin:vue/vue3-essential',
        'eslint:recommended',
        '@vue/prettier',
    ],
    parserOptions: {
        parser: '@babel/eslint-parser',
        requireConfigFile: false,
    },
    rules: {
        'prettier/prettier': [
            'warn',
            {
                printWidth: 80,
                bracketSpacing: false,
                singleQuote: true,
                semi: true,
                endOfLine: 'lf',
                arrowParens: 'always',
                trailingComma: 'es5',
            },
        ],
        'no-constant-condition': [
            'error',
            {
                checkLoops: false,
            },
        ],
        'no-console': process.env.NODE_ENV === 'production' ? 'warn' : 'off',
        'no-debugger': process.env.NODE_ENV === 'production' ? 'warn' : 'off',
        quotes: [
            'warn',
            'single',
            {
                avoidEscape: true,
                allowTemplateLiterals: true,
            },
        ],
    },
    globals: {
        axios: 'readonly',
        Bootstrap: 'readonly',
        FALLBACK_MESSAGES: 'readonly',
    },
};
